@import "tailwindcss";

@theme {
  --color-primary-400: #38bdf8;
  --color-primary-500: #0db9f2;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
}

body {
  font-family: "Plus Jakarta Sans", "Inter", sans-serif;
  background-color: #0f172a;
  color: #f1f5f9;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@layer components {
  .responsive-container {
    @apply w-full px-4 mx-auto sm:px-6 lg:px-8;
  }
}